[report]
omit =
    **/test_*.py
exclude_lines =
    raise AssertionError
    raise NotImplementedError
    raise RuntimeError
    except OperationalError:
    def _create_schedule
    if not was_exists:
    except Timeout as error
    except json.JSONDecodeError
    if not json_data["success"]:
    except Exception
    raise InvalidServerRequestException
    class Gui
    throw NotImplementedError
    @pytest.mark.skip
    except ImportError
    def install_auto_complete_cli
    raise Exception
    if not os.path.exists
    if not response_json["totalItems"]
