# Packages for development
##########################
# pytest package to run all tests.
pytest>=7.2.0
# pytest extension to re-run if test failed.
pytest-rerunfailures>=10.3
# For network scraping, should be removed after cleanup.
selenium>=4.6.0
# To install the web browser driver, should be removed after cleanup.
webdriver-manager>=3.8.5
# To read html files and extract data, should be removed after cleanup.
beautifulsoup4>=4.11.1
# Run linter using pylint, run code checks and code style.
pylint>=2.15.8
# Export the project as exe file, support linux, mac and windows.
pyinstaller>=5.7.0
# Run linter and add checks where pylint didn't find.
pycodestyle>=2.10.0
# Run coverage to check how much the test cover the code.
coverage>=6.5.0
