# Csp package, the main algorithm.
python-constraint2==2.1.0
# Save and load dataclass as json format.
dataclasses_json>=0.5.7
# Network requests.
requests==2.32.3
# For network, avoid printing warnings for each request.
urllib3==2.3.0
# Automatic bash complete commands.
argcomplete>=2.0.0
# Work with dataframe to export in csv, excel and image output formats.
pandas>=1.5.2
# Excel output.
xlsxwriter==3.1.9
# Image output.
dataframe_image==0.2.7
# dataframe_image module requirement.
playwright==1.50.0
# dataframe_image module requirement.
matplotlib>=3.7.2
# Flask for the website.
flask==3.1.0
